@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rambla:wght@700&display=swap');

$font-logo: 'Rambla', sans-serif;
$font-family: 'Poppins', sans-serif;
$color-primary: #E66900;
$color-secondary: #805603;
$color-text: #423E3E;